All Albums

<!--div class="float-right" style="padding-right: 30px; padding-top: 20px;">
    <a [routerLink]="['/album', 10]" class="btn btn-success">Go To Album Details</a>
    
</div-->

<br style="clear: both;">

<div style="padding-right: 60px;">
    <a [routerLink]="['/create']" class="btn btn-success">Create Album</a>
</div>


<div class="row">
    <div class="col-sm-3 pt-3" *ngFor = "let album of albums">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="album.coverPhotoUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{album.title}}</h5>
              <a [routerLink]="['/album', album.id]" class="btn btn-primary">Go to album</a>
            </div>
        </div>
    </div>
  </div>