

<!--div class="float-right" style="padding-right: 30px; padding-top: 20px;"-->
<!--div> <a [routerLink]="['/photo/me']" class="btn btn-success" >Go To Photo Details</a> </div-->



<div *ngFor = "let album of albums">
  <div *ngIf = "album.id === albumId">
      <img [src] = "album.coverPhotoUrl" style="position:absolute; z-index: -50; width:100%; height:100%;">  
      <!--div style ="background-image: url('[album.coverPhotoUrl]');-->
  </div>
</div>


<div><a [routerLink]="['/upload', albumId]" class="btn btn-success">Upload Photo</a></div>
<div class="row">
    <div class="col-sm-3 pt-3" *ngFor = "let photo of photos">
        <div class="card" style="width: 18rem; height: 18rem;">
            <img class="card-img-top" style="width: 15rem; height: 10rem;" [src]="photo.photoUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{photo.createdBy}}</h5>
              <a [routerLink]="['/photo', photo.id]" class="btn btn-primary">Go to Photo</a>
            </div>
        </div>
    </div>
</div>

<!--style>
  div{

    background-image: url('https://static.toiimg.com/photo/72975551.cms');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style-->

    
    